<!DOCTYPE html>

<html lang="en">
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <link href="/styles.css" rel="stylesheet">
        <title>SSSSource | Posts</title>
        <script src="/script.js"></script>
        <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    </head>
    <body>
        <nav class="navbar sticky-top navbar-expand-lg">
            <a class=" navbar-brand" href="{{ url_for('index') }}"><b>The SSSSource</b></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle-navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="articlesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Articles
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="articlesDropdown">
                            <li><a class="dropdown-item" href="{{ url_for('articles') }}">All Articles</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('athletics') }}">Athletics</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('entertainment') }}">Entertainment</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('news') }}">News</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('features') }}">Features</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="nav-link" href="{{ url_for('venom') }}">Weekly Venom</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('talent') }}">Talent Gallery</a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="archiveDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Archive
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="archiveDropdown">
                            <li><a class="dropdown-item" href="https://sites.google.com/view/thessssource-com/home?authuser=3">Google Site</a></li>
                            <li><a class="dropdown-item" href="https://thessssource.weebly.com/">Weebly Site</a></li>
                        </ul>
                    </li> 
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="accountDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Account
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="accountDropdown">
                            <li><a class="dropdown-item" href="{{ url_for('login') }}">Login</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('register') }}">Register</a></li>
                        </ul>
                    </li>                   
                </ul>
            </div>
        </nav>
        <img id="slideshow" src="/images/ssssource.jpg" alt="The SSSSource Logo" width="300" style="display: block; margin-left: auto; margin-right: auto; margin-top: 20px; margin-bottom: 20px;">
        <h1 style="text-align: center;">Welcome to the News Page!</h1>
        <h4 style="text-align: center;">Your source for all the important news!</h4>
        <hr class="solid">
        <p style="text-align: center;">Bookmark this page to stay informed!</p>
        </div>
    </body>
</html>
